.card {
  border-radius: 2px;
  height: 325px;
  position: relative;
  width: 325px;
  text-align: left;
}

.card>.img-container {
  height: 60%;
  overflow: hidden;
  text-align: center;
  background: #6CADDC;
}

.card>.img-container>img {
  width: 60%
}